<div class="content">
    <h2>Blog Post</h2>
    <!--show blog post to edit-->
        <p><strong>Title: </strong><%= @blog.title %></p>
        <p><strong>Content: </strong><%= @blog.content %></p>
        
    <h2>Edit Post</h2>
        <%= form_for(@blog) do |form| %>
            <p>
            <%= form.label :Title %><br>
            <%= form.text_area :title, :cols => 80, :rows => 1 %>
            </p>
            
            <p>
            <%=form.label :Content %><br>
            <%= form.text_area :content, :cols => 80, :rows => 3 %>
            </p>
            
            <%= form.submit %>
         <% end %>
         
        <%= link_to "Back", blogs_path %>
        
</div>